$grid-padding: 10px;
$hbh-blue: #124a8f;
$hbh-red: #c01919;
$hbh-white: #eeeeee;
$hbh-dark: #222;
$hbh-green: #006400;

* {
  margin: 0;
  padding: 0;
}
body {
  color: $hbh-dark;
  background-color: $hbh-white;
  font-family: sans-serif;
}
h1 {
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $hbh-dark;
  color: $hbh-white;
  text-align: center;
}
.main {
  margin-top: 75px;
}
p {
  margin: 6px;
}
#wrapper {
  padding: $grid-padding;
  width: 90%;
  margin: auto;
}
#grid-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: $grid-padding;
  color: $hbh-white;
}
div {
  padding: 10px;
}
.person .name {
  text-align: center;
}
.person:nth-child(1) {
  background-color: $hbh-blue;
}
.person:nth-child(2) {
  background-color: $hbh-red;
}
.person:nth-child(3) {
  background-color: $hbh-green;
}
img {
  width: 100%;
}
#img-wrapper {
}
ul {
  margin: 1em;
}

@media screen and (max-width: 800px){
  #grid-wrapper {
    display: block;
  }
}

a:visited {
  color: #931452;
}
a {
  color: #47a;
}
