$grid-padding: 10px;
$hbh-blue: #326aaf;
$hbh-red: #F61919;
$hbh-white: #eeeeee;
$hbh-dark: #222;

* {
  margin: 0;
  padding: 0;
}
body {
  color: $hbh-dark;
  background-color: $hbh-white;
}
h1 {
  text-align: center;
}
p {
  margin: 6px;
}
#wrapper {
  padding: $grid-padding;
  width: 90%;
  margin: auto;
}
#grid-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: $grid-padding;
  color: $hbh-white;
}
div {
  padding: 10px;
}
.person > h3 {
  text-align: center;
}
.person:nth-child(odd) {
  background-color: $hbh-blue;
}
.person:nth-child(even) {
  background-color: $hbh-red;
}
img {
  width: 100%;
}
#img-wrapper {
  width: 50%;
  margin: auto;
}
ul {
  margin: 1em;
}

@media screen and (max-width: 800px){
  #grid-wrapper {
    display: block;
  }
}

a:visited {
  color: #931452;
}
a {
  color: #47a;
}
